html {
     background: url(6.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    color: white
}
body{
      width: 90%;
}

#content{
   
}
#graph{
   height: auto;
   width: 90%;
   text-align: center;
}

#map{
 text-align: center;  
}

#inputContent{
   text-align: center;  
}

#outputContent{
   text-align: center;
}
footer{
    text-align: center;
}